
    .container-fluid {
      position: relative;
      background-color:  black;
      border-radius: 0;
      border: 0;
      width: 100%;
      margin: 0;
      padding: 0;
}
      .container-fluid.navbar-brand-containment.navbar-brand {
        text-align: left;
        text-color: orange;
      }
      
      }
     
      
        
        
      }
      .nav navbar-nav {
        text-align: center;
        margin: 0px auto 0px;
        padding: 0;
        border: 0;
      }
      #H123 {
        color:black;
        font-weight: bold;
        font-size: 5em;
      }
      #navigTITLE {
        color: white;
      }
      #Pa {
        padding: 30px;
        background-color: grey;
        color: white;
      }
      #H342 {
        background-color: grey;
        margin:0;
        border:0;
        font-size: 1.5em;
        padding: 15px;
        font-weight: bold;
        font-family: 'Oxygen', sans-serif;
        font-style: italic;
        color: white;
      }
      #List1 {
        color: white;
        font-size: 1.3em;
       
      }
      #List2 {
        color: white;
        font-size: 1.3em;
       
      }
      #List3 {
        color: white;
        font-size: 1.3em;
       
      }
